
@tailwind base;
@tailwind components;
@tailwind utilities;


button.datatable-pagination-list-item-link {
    border: 1px solid #d1d5db;
    padding: 10px;
}
.datatable-container {
    overflow:auto;
}

@media(max-width:700px) {
    .datatable-container {
        width: 600px;
    }
}

@media(max-width:600px) {
    .datatable-container {
        width: 500px;
    }
    .dt-search {
        text-align: left !important;
    }
}

@media(max-width:500px) {
    .datatable-container {
        width: 400px;
    }
}

@media(max-width:400px) {
    .datatable-container {
        width: 300px;
    }
}

@media(max-width:768px) {
    input#dt-search-0 {
        width: 100%;
        margin:0px;
    }
}


.datatable-active {
    text-decoration: underline;
    font-weight: bold;
}

.dt-search {
    text-align: right;
    margin-bottom: 10px;
    margin-top: 20px;
}



label[for="dt-search-0"]
{
    display:none;
}

.dt-paging {
    text-align: right;
}

.datepicker.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.active.block.datepicker-orient-bottom.datepicker-orient-left {
    z-index: 999;
    background: white;
}
